/* Estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilo do menu de navegação */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilo do conteúdo principal */
h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

/* Estilo do formulário de contato */
.contact-form {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    width: 70%; /* Largura do formulário */
    text-align: center;
}

.contact-form p {
    font-size: 16px;
    margin-bottom: 10px;
}

.contact-form a {
    color: #333;
    text-decoration: none;
}

.contact-form a:hover {
    text-decoration: underline;
}

/* Estilo dos links */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo do formulário de contato */
.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Estilo dos rótulos do formulário */
.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left; /* Alinha os rótulos à esquerda */
}


.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

.contact-form p {
    margin-top: 20px;
}

.contact-form a {
    color: #333;
    text-decoration: none;
}

.contact-form a:hover {
    text-decoration: underline;
}
